.navbar{
   z-index: 5; 
   position: fixed;
}


.logo{
    width: 45px;
    height: auto;
    margin-right: 0.5rem;
}
.nav-link{
    font-weight: 600;

    &:hover{
        color: #000!important;
        transition: 0.3s ease;
    }
}