html,
body,
#root {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

@import '@arcgis/core/assets/esri/themes/dark/main.css';
@import 'bootstrap/dist/css/bootstrap.css';