.home-page {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.home-page-footer{
    position: relative;
}

.map-row{
    padding: 0 !important;
    margin: 0 !important;
}

.col-12{
    padding: 0 !important;
    height: 100%;
}

.layerlist-content{
    margin-top: 15px;
    height: 75%;
}

.title{
    margin-top: 100px;
}

.second-title{
    margin-top: -100px;
}

